{%extends "base_generic.html"%}

{%block title%} User {%endblock title%}

{%block content%}
<h1>{{person.name}} {{person.surname}}</h1>
<a>USER_ID: {{person.user.id}}</a>

{%if person.user_id == request.user.id%}
    <h3>IT'S YOU</h3>
{%endif%}

<p>{{person.type}}</p>

{% if person.projects %}
    <ul>
    {% for project in person.projects.all %}
        <li><a href="{{project.get_absolute_url}}">{{ project.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}
{%endblock content%}