{%extends "base_generic.html"%}

{%block title%} Event {%endblock title%}

{%block content%}
<h1>{{even.title}}</h1>
{% if event.members %}
    <ul>
        {% for user in event.members.all%}
            <li><a href="/account/{{user.id}}">{{user.name}} {{user.surname}}</a></li>
        {% endfor %}
    </ul>
    {%else%}
        <p>No users</p>
{%endif%}

{%if request.user.person in event.members%}
<p>YOU ARE REGISTERED</p>
{%else%}
<form action="" method="POST">
    {%csrf_token%}
    <button type="submit">REGISTER</button>
</form>
{%endif%}

{%endblock content%}