{% extends 'base_generic.html' %}

{% block content %}
   <h1>Cockpit</h1>

    <table border="1">
    <tr>
        <th>Project</th>
        <th>Events</th>
        <th>Members</th>
    </tr>
        {% for project in project_list%}
            <tr>
            <td>{{ project }}</td>
                <td>
                    <table>
                    {% for event in project.event_set.all %}
                        <tr><td>{{ event }}</td></tr>
                    {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                    {% for event in project.event_set.all %}
                        {% for person in event.members.all %}
                            <tr><td>{{ person }}</td></tr>
                        {% endfor %}

                    {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}