<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static "generic.css"%}"/>
    <title>{% block title %}URFU{% endblock %}</title>
</head>

<body>
    <div id="sidebar" class="sidenav">
        {% block sidebar %}
        <ul>
            <!--<li><a href="/">Home</a></li>-->
            {% if user.is_authenticated %}
            <h1><a>User: {{ user.get_username }}</a></h1>
                <li><a href="{% url 'logout'%}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login'%}">Login</a></li>
            {% endif %}
            <li><a href="/auth/register">Register</a> </li>
            <li><a href="/account/">Personal</a></li>
            <li><a href="/events/">Events</a></li>

        </ul>
        {% endblock %}
    </div>

    <div id="content" class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>