{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/bulma.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/app.css" %}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>{% block title %}SoftSkilks{% endblock %}</title>
</head>

<body>
<nav class="navbar is-transparent is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{% static "img/logo.png" %}" alt="softskills">
        </a>
        <div class="navbar-burger burger" data-target="navbar-softskills">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbar-softskills" class="navbar-menu">
    {% if user.is_authenticated %}
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'person_list' %}">Personal</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{% url 'project_list' %}">Projects</a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/projects/add_project">+ Add Project</a>
                </div>
            </div>
        </div>
    {% endif %}

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    {% if user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{{user.person.get_absolute_url}}">{{ request.user.person }}</a>

                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'dashboard' %}">Dashboard</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{%url 'person_update'%}">Edit Profile</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'logout' %}">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span>logout</span>
                    </a>
                </div>
            </div>

                    {% else %}
                        <p class="control">
                            <a class="button is-light" href="{% url 'register' %}">
                                <span class="icon"><i class="fas fa-key"></i></span>
                                <span>Register</span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-primary" href="{% url 'login' %}">
                                <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                                <span>login</span>
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>



    {% block content %}
    {% endblock %}
</body>
</html>