<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static "css/materialize.css"%}"/>

    <title>{% block title %}URFU{% endblock %}</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            {%block sidebar%}
            {%if user.is_authenticated%}
                <ul id="nav-mobile" class="right">
                    <li><a href="{%url 'register'%}">Register</a></li>
                    <li><a href="{%url 'person_list'%}">Personal</a></li>
                    <li><a href="{%url 'project_list'%}">Projects</a></li>
                    <li><a href="{%url 'dashboard'%}">{{request.user.person}} UserID:{{request.user.id}}</a></li>
                    <li><a class="waves-effect waves-light btn" href="{% url 'logout'%}">Logout</a></li>
                </ul>
            {%else%}
                <ul id="nav-mobile" class="right">
                    <li><a href="{%url 'register'%}">Register</a></li>
                    <li><a class="waves-effect waves-light btn" href="{% url 'login'%}">Login</a></li>
                </ul>
            {%endif%}
            {%endblock%}
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
<script type="text/javascript" src="{%static "js/materialize.js"%}"></script>   
</body>
</html>