{% extends "project/base.html" %}



{% block title %}Project {{ project.title }}{% endblock %}

{% block project %}
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
    {% if project.members %}
        <h3>Members</h3>
        <ul>
            {% for person in project.members.all %}
                <li><a href="{{ person.get_absolute_url }}"> {{ person }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <p></p>
    <h3>Events related</h3>
    {% if project.event_set.all %}
        <ul>
            {% for event in project.event_set.all %}
                <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No events in project</p>
    {% endif %}

    {% if request.user.person in project.members.all %}
        <h5>You are registered</h5>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Leave</button>
                </div>
            </div>
        </form>
    {% else %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Register</button>
                </div>
            </div>
        </form>
    {% endif %}
    <h1>FILES</h1>
    <ul>
    {% for file in project.projectfile_set.all %}
        <li><a href="{{ file.file.url }}">{{ file.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}